torch>=2.2.0
torchaudio>=2.2.0
numpy>=1.26.4
scipy>=1.11.4
librosa>=0.10.1
soundfile>=0.12.1
audiomentations>=0.37.0
gradio>=4.44.0
fastapi>=0.111.0
uvicorn>=0.30.0
python-dotenv>=1.0.1
pydantic>=2.6.4
requests>=2.32.0
matplotlib>=3.8.4
# faster-whisper
# speechbrain
black>=24.4.2
